/* Put your css in here */
h1 {
    color: red;
  }
.list-group{
  color: red;
  width:50%;
  
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  display: none;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
body{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

}